<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
            <%= audio_tag "/audios/2.mp3", :autoplay => false, :id =>"se_error" %>
          </div>
        <% end %>
        <%= form_tag("/users/create") do |f| %>
          <p>ユーザー名</p>
          <input name="name" value="<%= @user.name %>">
          <p>メールアドレス</p>
          <input name="email" value="<%= @user.email %>">
          <p>パスワード</p>
          <input name="password" type="password" value="<%= @user.password%>">
          <div class="new-reg">
            <span id="user_reg_button">新規登録</span>
            <%= audio_tag "/audios/1.mp3", :autoplay => false, :id =>"se_warning" %>
          </div>

          <div class="user-reg-check">
            <p>
              <img src="/warning.png">
              パスワードは変更できません。新規登録しますか？
            </p>
            <a class="cancel_btn">キャンセル</a>
            <%= submit_tag("OK", :class => "ok_btn", data: {"turbolinks" => false}) %>
          </div>
        <% end %>
      </div>


    </div>
  </div>
</div>
